NodeRed.json
[{"id":"86402313.6b48e","type":"tab","label":"Conf Inicial","disabled":false,"info":""},{"id":"4d220972.5645d8","type":"tab","label":"RdesdeMesas","disabled":false,"info":""},{"id":"92703994.9f4638","type":"tab","label":"InfoMesas","disabled":false,"info":""},{"id":"aa52ac5a.a6265","type":"tab","label":"app","disabled":false,"info":""},{"id":"cc9b6b0b.ff69e8","type":"tab","label":"Usuario","disabled":false,"info":""},{"id":"494b369d.e80008","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"UNAL","tz":""},{"id":"20d0228.8f11dde","type":"mqtt-broker","z":"","name":"","broker":"aulal.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6923c220.e3f00c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"prueba","tz":""},{"id":"8f10d38d.7059a","type":"ui_tab","z":"","name":"HORARIO DE RESERVAS","icon":"dashboard","disabled":false,"hidden":false},{"id":"49dfd7.3ffe7028","type":"ui_group","z":"","name":"","tab":"8f10d38d.7059a","order":1,"disp":true,"width":"12","collapse":false},{"id":"40872449.4baecc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8b94f5a2.7cb088","type":"mqtt-broker","z":"","name":"","broker":"ws://192.168.10.19:9001","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33cb564d.81c7fa","type":"mqtt-broker","z":"","name":"","broker":"ws://aulal.org:9001","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"30c0be93.e00142","type":"mysql","z":"86402313.6b48e","mydb":"494b369d.e80008","name":"","x":350,"y":100,"wires":[["54564398.422dfc"]]},{"id":"4c63cfa2.423f2","type":"mqtt out","z":"86402313.6b48e","name":"","topic":"","qos":"0","retain":"","broker":"20d0228.8f11dde","x":590,"y":140,"wires":[]},{"id":"6899cdaf.aac5b4","type":"mqtt in","z":"86402313.6b48e","name":"","topic":"/TIUN/v/","qos":"2","datatype":"auto","broker":"20d0228.8f11dde","x":100,"y":100,"wires":[["c195dbf6.48ffe8","b2438311.bf46b"]]},{"id":"b2438311.bf46b","type":"debug","z":"86402313.6b48e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":140,"wires":[]},{"id":"c195dbf6.48ffe8","type":"function","z":"86402313.6b48e","name":"","func":"flow.set('topic1',msg.topic);\nmsg.topic = msg.payload;\n\n//no borrar a menos que se sepa lo que se hace\n//if(msg.topic.includes(\"delete\") | msg.topic.includes(\"insert\") | msg.topic.includes(\"update\")){msg.topic=null;msg.payload=null;}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":100,"wires":[["30c0be93.e00142"]]},{"id":"54564398.422dfc","type":"function","z":"86402313.6b48e","name":"","func":"msg.topic=flow.get('topic1')+\"A/\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["30f5deec.fa1132"]]},{"id":"30f5deec.fa1132","type":"debug","z":"86402313.6b48e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":100,"wires":[]},{"id":"d1fb8ea7.668e5","type":"mqtt in","z":"4d220972.5645d8","name":"","topic":"/TIUN/mesas/reservas/","qos":"2","datatype":"auto","broker":"20d0228.8f11dde","x":620,"y":140,"wires":[["a5feefe5.47135","3ed4a8ec.326c98"]]},{"id":"a5feefe5.47135","type":"json","z":"4d220972.5645d8","name":"","property":"payload","action":"obj","pretty":false,"x":810,"y":139,"wires":[["21feb3be.b022dc"]]},{"id":"21feb3be.b022dc","type":"function","z":"4d220972.5645d8","name":"consulta","func":"var l=msg.payload.length;\nvar t=\"\";\nvar nombres=[];\nfor (var i=0; i<l;i++){\n    t=t+\"select mesa,date_format(hora_inicio,'%H:%i:%s') as hora from reserva where mesa=\"+\n        msg.payload[i].mesa+\" order by hora_inicio limit 1;\";\n    nombres[i]=msg.payload[i];\n}\nflow.set(\"reserva\",nombres);\nmsg.topic=t;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":140,"wires":[["bcef27d5.1b3508"]]},{"id":"1fff9ec3.0ea251","type":"inject","z":"4d220972.5645d8","name":"","topic":"","payload":"[{\"mesa\":10,\"nombre\":\"Diego\"}]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":80,"wires":[["d861fe00.2d63"]]},{"id":"d861fe00.2d63","type":"mqtt out","z":"4d220972.5645d8","name":"","topic":"/TIUN/mesas/reservas/","qos":"","retain":"","broker":"20d0228.8f11dde","x":1040,"y":80,"wires":[]},{"id":"bcef27d5.1b3508","type":"mysql","z":"4d220972.5645d8","mydb":"494b369d.e80008","name":"UN","x":1070,"y":139,"wires":[["4f8898d7.806fa8"]]},{"id":"4f8898d7.806fa8","type":"function","z":"4d220972.5645d8","name":"inserción y actualización","func":"var l=flow.get(\"reserva\").length;\nvar hora1=new Date();\nvar hora=hora1.getHours()+\":\"+hora1.getMinutes()+\":\"+hora1.getSeconds();\nmsg.topic=\"\";\nvar res={};\nfor(var i=0; i<l;i++){\n    if(msg.payload.length!==0){ //si hay alguna reserva\n        \n        if(msg.payload.length==1){\n            res.hora=msg.payload[i].hora;\n            res.mesa=msg.payload[i].mesa;\n        }\n        else{\n            res.hora=msg.payload[i][0].hora;\n            res.mesa=msg.payload[i][0].mesa;\n        }\n        if (res.hora>hora){ //si no ha comenzado la reserva\n            msg.topic+=\"insert into reserva (responsable,mesa,hora_inicio,hora_fin) values('\"+\n            flow.get(\"reserva\")[i].nombre+\"',\"+res.mesa+\",'\"+\n            hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora+\"','\"+\n            hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":59:59'\"+\n            \");\";\n            msg.topic+=\"update mesas set estado=1 where num=\"+res.mesa+\";\";\n        }\n        else{ //si ya es hora de la reserva\n            msg.topic+=\"update mesas set estado=1 where num=\"+\n                \"(select mesa from reserva where responsable='\"+flow.get(\"reserva\")[i].nombre+\n                \"' and date_format(hora_inicio,'%H:%i:%s')='\"+res.hora+\"' and\"+\n                \" mesa=\"+flow.get(\"reserva\")[i].mesa+\");\";\n        }\n    }\n    else{ //si no hay reservas\n        msg.topic+=\"insert into reserva (responsable,mesa,hora_inicio,hora_fin) values('\"+\n            flow.get(\"reserva\")[i].nombre+\"',\"+flow.get(\"reserva\")[i].mesa+\",'\"+\n            hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora+\"','\"+\n            hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":59:59'\"+\n            \");\";\n        msg.topic+=\"update mesas set estado=1 where num=\"+flow.get(\"reserva\")[i].mesa+\";\";\n    }\n}\n//var hora=Date.now()-18000000000;\n//msg.payload=l+\" \"+hora.toString();//.getHours()+\":\"+hora.getMinutes()+\":\"+hora.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["4e67d42f.0efe0c"]]},{"id":"4e67d42f.0efe0c","type":"mysql","z":"4d220972.5645d8","mydb":"494b369d.e80008","name":"UN","x":870,"y":200,"wires":[["f205a8b3.ab7c18"]]},{"id":"9e5c0df2.452d4","type":"inject","z":"4d220972.5645d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0-22 * * *","once":false,"onceDelay":0.1,"x":530,"y":300,"wires":[["9d1892a7.c5732"]]},{"id":"9d1892a7.c5732","type":"function","z":"4d220972.5645d8","name":"borrar","func":"var hora1=new Date();\nvar hora=hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":\"+hora1.getMinutes()+\":\"+hora1.getSeconds();\n//var cod=\"update mesas set estado=0 where num in \"+\n//\"(select mesa from reserva where hora_fin<'\"+hora+\"');\";\n//msg.topic=cod+\"delete from reserva where hora_fin<'\"+hora+\"';\";\nmsg.topic=\"delete from reserva where hora_fin<'\"+hora+\"'; update mesas set estado=0 where num not in (select mesa from reserva where hora_inicio<='\"+hora+\"' group by (mesa))\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["ee130776.5a6e18"]]},{"id":"ee130776.5a6e18","type":"mysql","z":"4d220972.5645d8","mydb":"494b369d.e80008","name":"UN","x":910,"y":300,"wires":[["724aaca3.5ab664"]]},{"id":"91e7f446.50cb48","type":"mysql","z":"92703994.9f4638","mydb":"494b369d.e80008","name":"UN","x":450,"y":100,"wires":[["8cf5dcf4.06f18"]]},{"id":"40f85ed4.2c0d","type":"inject","z":"92703994.9f4638","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["b5fa1b71.9d9438"]]},{"id":"b5fa1b71.9d9438","type":"function","z":"92703994.9f4638","name":"","func":"msg.topic=\"select * from mesas;\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["91e7f446.50cb48"]]},{"id":"8cf5dcf4.06f18","type":"function","z":"92703994.9f4638","name":"","func":"var codigo=\"\";\nvar hora=new Date();\nhora=hora.getHours()+\":\"+hora.getMinutes()+\":\"+hora.getSeconds();\nfor(var i=0;i<msg.payload.length;i++){\n    //codigo+=\"select date_format(hora_inicio,'%H:%i:%s') as hora from reserva where mesa=\"+\n    //    msg.payload[i].num+\" and date_format(hora_inicio,'%H:%i:%s')>'\"+hora+\"' order by hora_inicio limit 1;\";\n    //codigo+=\"select date_format(hora_fin,'%H:%i:%s') as horaf,date_format(hora_inicio,'%H:%i:%s') as hora from reserva where mesa=\"+\n        //msg.payload[i].num+\" and date_format(hora_inicio,'%H:%i:%s')>'\"+hora+\"' order by hora_inicio limit 1;\";\n    codigo+=\"select date_format(hora_fin,'%H:%i:%s') as horaf,date_format(hora_inicio,'%H:%i:%s') as hora from reserva where mesa=\"+\n        msg.payload[i].num+\" order by hora_inicio limit 1;\";\n}\nflow.set(\"mesas\",msg.payload);\nmsg.topic=codigo;\nmsg.payload = hora;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["72cdb710.c5e0e8"]]},{"id":"e47756ea.6aa718","type":"function","z":"92703994.9f4638","name":"","func":"var c=0;\nvar mesas=flow.get(\"mesas\");\nvar cod=\"\";\n\nvar hora=new Date();\nhora=hora.getHours()+\":\"+hora.getMinutes()+\":\"+hora.getSeconds();\n\nfor(var i=0;i<mesas.length;i++){\n    if (mesas[i].estado===null){//reservado\n        if(Object.entries(msg.payload[c]).length!==0){\n            mesas[i].reserva=msg.payload[c][0].hora;\n            mesas[i].reservaf=msg.payload[c][0].horaf;\n        }\n        else{mesas[i].reserva=null;mesas[i].reservaf=null;}\n        c++;\n    }\n    else{\n        if (mesas[i].estado[0]==1){\n            if(Object.entries(msg.payload[c]).length!==0){\n                mesas[i].reserva=msg.payload[c][0].hora;\n                mesas[i].reservaf=msg.payload[c][0].horaf;\n            }\n            else{\n                mesas[i].reserva=null;\n                mesas[i].reservaf=null;\n            }\n            c++;\n            mesas[i].estado=1;\n        }\n        else{\n            if(Object.entries(msg.payload[c]).length!==0){\n                mesas[i].reserva=msg.payload[c][0].hora;\n                mesas[i].reservaf=msg.payload[c][0].horaf;\n            }\n            else{\n                mesas[i].reserva=null;\n                mesas[i].reservaf=null;\n            }\n            c++;\n            mesas[i].estado=0;\n        }\n    }\n    cod+=mesas[i].num+\",\"+mesas[i].estado+\",\"+mesas[i].reserva+\",\"+mesas[i].reservaf+\",\"+hora+\",\";\n    if(i+1!=mesas.length){cod+=\";\";}\n}\nmsg.topic=\"/TIUN/mesas/esp/\";\nmsg.payload=cod;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["276b3792.b54d78"]]},{"id":"72cdb710.c5e0e8","type":"mysql","z":"92703994.9f4638","mydb":"494b369d.e80008","name":"UN","x":110,"y":160,"wires":[["e47756ea.6aa718"]]},{"id":"ad0271e5.8319","type":"mqtt out","z":"92703994.9f4638","name":"","topic":"/TIUN/mesas/esp/","qos":"","retain":"","broker":"20d0228.8f11dde","x":610,"y":160,"wires":[]},{"id":"83e5fc9c.c5369","type":"comment","z":"92703994.9f4638","name":"Envia mesas y siguiente reserva a esp","info":"","x":170,"y":40,"wires":[]},{"id":"a17d66b2.4d3618","type":"comment","z":"4d220972.5645d8","name":"reservas desde mesas","info":"","x":640,"y":40,"wires":[]},{"id":"16e08ce5.eadf33","type":"comment","z":"4d220972.5645d8","name":"Borra reservas vencidas y actualizar estados","info":"","x":710,"y":260,"wires":[]},{"id":"f205a8b3.ab7c18","type":"debug","z":"4d220972.5645d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":200,"wires":[]},{"id":"724aaca3.5ab664","type":"function","z":"4d220972.5645d8","name":"actualizar","func":"var hora=new Date();\nvar fecha =hora.getFullYear()+\"-\"+(hora.getMonth()+1)+\"-\"+hora.getDate()+\" \";\nvar horaa=(hora.getHours()+1)+\":\"+hora.getMinutes()+\":\"+hora.getSeconds();\nhora=hora.getHours()+\":\"+hora.getMinutes()+\":\"+hora.getSeconds();\nmsg.topic=\"update mesas set estado=null where num in\"+\n    \"(select mesa from reserva where hora_inicio<='\"+fecha+horaa+\"') and estado!=1;\";\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":340,"wires":[["ab2761c0.17e6d"]]},{"id":"ab2761c0.17e6d","type":"mysql","z":"4d220972.5645d8","mydb":"494b369d.e80008","name":"UN","x":910,"y":340,"wires":[["d6e76564.01f808"]]},{"id":"276b3792.b54d78","type":"split","z":"92703994.9f4638","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":160,"wires":[["e33b9009.18198","ad0271e5.8319"]]},{"id":"d6e76564.01f808","type":"debug","z":"4d220972.5645d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":340,"wires":[]},{"id":"1fbfb36b.b54d8d","type":"inject","z":"92703994.9f4638","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["43d41ee5.fab6c"]]},{"id":"43d41ee5.fab6c","type":"function","z":"92703994.9f4638","name":"","func":"var hora=new Date();\nmsg.payload=hora.getHours()+\":\"+hora.getMinutes()+\":\"+hora.getSeconds()+\",\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["a9eb8c7b.52785"]]},{"id":"a9eb8c7b.52785","type":"mqtt out","z":"92703994.9f4638","name":"","topic":"/TIUN/mesas/hora","qos":"","retain":"","broker":"20d0228.8f11dde","x":510,"y":280,"wires":[]},{"id":"e33b9009.18198","type":"debug","z":"92703994.9f4638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":220,"wires":[]},{"id":"3ed4a8ec.326c98","type":"debug","z":"4d220972.5645d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":80,"wires":[]},{"id":"32e8e14c.f7934e","type":"inject","z":"86402313.6b48e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["120b65a1.47986a"]]},{"id":"120b65a1.47986a","type":"function","z":"86402313.6b48e","name":"","func":"msg.topic=\"\";\nfor(var a=6;a<=50;a++){\n    msg.topic+=\"insert into mesas values (\"+a+\",0);\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["c11c294d.3e59b8","709be305.538bfc"]]},{"id":"c11c294d.3e59b8","type":"debug","z":"86402313.6b48e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":460,"y":260,"wires":[]},{"id":"709be305.538bfc","type":"mysql","z":"86402313.6b48e","mydb":"494b369d.e80008","name":"","x":450,"y":220,"wires":[[]]},{"id":"e775af69.6f5fc","type":"comment","z":"86402313.6b48e","name":"inserta mesas","info":"","x":130,"y":180,"wires":[]},{"id":"7ce476f8.1d5048","type":"comment","z":"86402313.6b48e","name":"SCRAP - envía comando a la base de datos (cuidado con lo que se manda)","info":"","x":310,"y":60,"wires":[]},{"id":"eda5ea41.3e4218","type":"mqtt in","z":"86402313.6b48e","name":"","topic":"/TIUN/mesas/nexys/","qos":"2","datatype":"auto","broker":"20d0228.8f11dde","x":130,"y":280,"wires":[["f7f16517.ba64a8"]]},{"id":"f7f16517.ba64a8","type":"debug","z":"86402313.6b48e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":280,"wires":[]},{"id":"f9e2f2a3.35da7","type":"mysql","z":"4d220972.5645d8","mydb":"494b369d.e80008","name":"","x":350,"y":300,"wires":[["9d1892a7.c5732"]]},{"id":"32f2c03c.5320d","type":"inject","z":"4d220972.5645d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["27d30d63.d126e2"]]},{"id":"27d30d63.d126e2","type":"function","z":"4d220972.5645d8","name":"","func":"msg.topic=\"delete from reserva;update mesas set estado=0\";\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["f9e2f2a3.35da7"]]},{"id":"6dcb7a58.e0ab24","type":"comment","z":"4d220972.5645d8","name":"reservas predeterminadas","info":"","x":110,"y":140,"wires":[]},{"id":"209c1243.398dde","type":"inject","z":"4d220972.5645d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["d32d8d3d.22597"]]},{"id":"d32d8d3d.22597","type":"function","z":"4d220972.5645d8","name":"","func":"var fecha=new Date();\nfecha=fecha.getFullYear()+\"-\"+(fecha.getMonth()+1)+\"-\"+fecha.getDate();\nmsg.topic=\"insert into reserva (responsable, mesa, hora_inicio,hora_fin) values\"+\n\"('Jean Paul',1,'\"+fecha+\" 0:00:00','\"+fecha+\" 1:59:59'),\"+\n\"('Jean Paul',3,'\"+fecha+\" 2:00:00','\"+fecha+\" 3:59:59'),\"+\n\"('Jean Paul',5,'\"+fecha+\" 4:00:00','\"+fecha+\" 5:59:59'),\"+\n\"('Jean Paul',2,'\"+fecha+\" 6:00:00','\"+fecha+\" 7:59:59'),\"+\n\"('Jean Paul',4,'\"+fecha+\" 8:00:00','\"+fecha+\" 9:59:59'),\"+\n\"('Jean Paul',1,'\"+fecha+\" 10:00:00','\"+fecha+\" 11:59:59'),\"+\n\"('Jean Paul',3,'\"+fecha+\" 12:00:00','\"+fecha+\" 13:59:59'),\"+\n\"('Jean Paul',5,'\"+fecha+\" 14:00:00','\"+fecha+\" 15:59:59'),\"+\n\"('Jean Paul',2,'\"+fecha+\" 16:00:00','\"+fecha+\" 17:59:59'),\"+\n\"('Jean Paul',4,'\"+fecha+\" 18:00:00','\"+fecha+\" 19:59:59'),\"+\n\"('Jean Paul',1,'\"+fecha+\" 20:00:00','\"+fecha+\" 21:59:59'),\"+\n\"('Jean Paul',3,'\"+fecha+\" 22:00:00','\"+fecha+\" 23:59:59');\"+\n\"insert into reserva (responsable, mesa, hora_inicio,hora_fin) values\"+\n\"('Diego',5,'\"+fecha+\" 0:00:00','\"+fecha+\" 0:59:59'),\"+\n\"('Diego',2,'\"+fecha+\" 1:00:00','\"+fecha+\" 2:59:59'),\"+\n\"('Diego',4,'\"+fecha+\" 3:00:00','\"+fecha+\" 4:59:59'),\"+\n\"('Diego',1,'\"+fecha+\" 5:00:00','\"+fecha+\" 6:59:59'),\"+\n\"('Diego',3,'\"+fecha+\" 7:00:00','\"+fecha+\" 8:59:59'),\"+\n\"('Diego',5,'\"+fecha+\" 9:00:00','\"+fecha+\" 10:59:59'),\"+\n\"('Diego',2,'\"+fecha+\" 11:00:00','\"+fecha+\" 12:59:59'),\"+\n\"('Diego',4,'\"+fecha+\" 13:00:00','\"+fecha+\" 14:59:59'),\"+\n\"('Diego',1,'\"+fecha+\" 15:00:00','\"+fecha+\" 16:59:59'),\"+\n\"('Diego',3,'\"+fecha+\" 17:00:00','\"+fecha+\" 18:59:59'),\"+\n\"('Diego',5,'\"+fecha+\" 19:00:00','\"+fecha+\" 20:59:59'),\"+\n\"('Diego',2,'\"+fecha+\" 21:00:00','\"+fecha+\" 22:59:59'),\"+\n\"('Diego',4,'\"+fecha+\" 23:00:00','\"+fecha+\" 23:59:59');\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["86a0a4ea.9be448","42ec5a2f.7fc5d4"]]},{"id":"86a0a4ea.9be448","type":"debug","z":"4d220972.5645d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":370,"y":220,"wires":[]},{"id":"42ec5a2f.7fc5d4","type":"mysql","z":"4d220972.5645d8","mydb":"494b369d.e80008","name":"","x":360,"y":180,"wires":[["9d1892a7.c5732"]]},{"id":"6d1c790b.837818","type":"comment","z":"4d220972.5645d8","name":"borrar todo","info":"","x":60,"y":260,"wires":[]},{"id":"8fc7ac64.53808","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/consulta/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":280,"y":280,"wires":[["ab53887b.62bb48"]]},{"id":"ab53887b.62bb48","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":500,"y":280,"wires":[["d60ed3ec.d6f5d"]]},{"id":"bf4846e6.b5ea18","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/consulta/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":540,"y":240,"wires":[]},{"id":"b8d6a1b0.6d62c","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["9eee296f.538d08"]]},{"id":"9eee296f.538d08","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='{\"inicio\":21,\"fin\":22}';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["bf4846e6.b5ea18"]]},{"id":"d60ed3ec.d6f5d","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topico=msg.topic;\nvar hora1=new Date();\nhora=hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":\"+hora1.getMinutes()+\":\"+hora1.getSeconds();\n\nif(msg.payload.inicio){\n    msg.topic=\"select num from mesas where num not in (select mesa from reserva where date_format(hora_inicio,'%H')<\"+msg.payload.fin+\" and date_format(hora_fin,'%H')>=\"+msg.payload.inicio+\");\";\n}\nelse{\n    msg.topic=\"select num from mesas where num not in (select mesa from reserva where hora_inicio<='\"+hora+\"');\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":320,"wires":[["bd03006b.a59ad"]]},{"id":"bd03006b.a59ad","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":310,"y":320,"wires":[["2b1d7afd.5433f6"]]},{"id":"2b1d7afd.5433f6","type":"function","z":"aa52ac5a.a6265","name":"","func":"var topic=msg.topico.split('/');\nvar num=topic[5];\nvar mensaje=\"\";\nfor(var c=0;c<msg.payload.length;c++){\n    mensaje+=msg.payload[c].num+\",\";\n}\nmsg.payload=mensaje;\nmsg.topic=\"/TIUN/app/reservas/consulta/\"+num+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["9d2ab59.dec8e48","bd86bb1c.b2f198","76896189.197fe"]]},{"id":"9d2ab59.dec8e48","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":550,"y":320,"wires":[]},{"id":"376c32b7.81e4ae","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/reservar/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":200,"y":760,"wires":[["6823b095.4a9bb"]]},{"id":"6823b095.4a9bb","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":760,"wires":[["ea7cb79d.432c98"]]},{"id":"706d9749.ed5fd8","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":690,"y":759,"wires":[["ef006d39.0d80c"]]},{"id":"ef006d39.0d80c","type":"function","z":"aa52ac5a.a6265","name":"inserción y actualización","func":"var hora1=new Date();\nmsg.topic=\"\";\nvar hf=0;\n\nif(msg.payload[0].length!==0){ //si hay alguna reserva\nif(msg.payload[1][0].count===0){\n    if(msg.reserva.fin===0){\n        hf=24;\n    }\n    else{hf=msg.reserva.fin}\n    \n    msg.topic+=\"insert into reserva (responsable,mesa,hora_inicio,hora_fin) values('\"+\n        msg.reserva.nombre+\"',\"+msg.reserva.mesa+\",'\"+\n        hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+msg.reserva.inicio+\":00:00','\"+\n        hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+(hf-1)+\":59:59');\";\n    //msg.topic+=\"update mesas set estado=1 where num=\"+msg.reserva.mesa+\";\";\n    msg.topic+=\"select cod from reserva where \"+\n    \"responsable='\"+msg.reserva.nombre+\"' and \"+\n    \"mesa=\"+msg.reserva.mesa+\" and \"+\n    \"hora_inicio='\"+hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+msg.reserva.inicio+\":00:00' and \"+\n    \"hora_fin='\"+hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+(hf-1)+\":59:59';\";\n}\nelse{\n    msg.topic=\"R\";\n}\n\n}\nelse{ msg.topic=\"err\";}\n\n//var hora=Date.now()-18000000000;\n//msg.payload=l+\" \"+hora.toString();//.getHours()+\":\"+hora.getMinutes()+\":\"+hora.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":800,"wires":[["d319bc0a.fb1b3","a5118f8a.201e1"]]},{"id":"3608e153.94a06e","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":490,"y":800,"wires":[["9c4497e5.212b68","f2d78525.6f8bf8"]]},{"id":"ea7cb79d.432c98","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topico=msg.topic;\nmsg.topic=\"select num from mesas where num not in (select mesa from reserva where date_format(hora_inicio,'%H')<\"+msg.payload.fin+\" and date_format(hora_fin,'%H')>=\"+msg.payload.inicio+\") and num=\"+msg.payload.mesa+\";\"+\n\"select count(*) as 'count' from reserva where date_format(hora_inicio,'%H')<\"+msg.payload.fin+\" and date_format(hora_fin,'%H')>=\"+msg.payload.inicio+\" and responsable='\"+msg.payload.nombre+\"';\";\nmsg.reserva=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":760,"wires":[["706d9749.ed5fd8","a5118f8a.201e1"]]},{"id":"d319bc0a.fb1b3","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"err","vt":"str"},{"t":"eq","v":"R","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":820,"wires":[["9c4497e5.212b68"],["9c4497e5.212b68"],["3608e153.94a06e"]]},{"id":"9c4497e5.212b68","type":"function","z":"aa52ac5a.a6265","name":"","func":"if (msg.topic==\"err\"){\n    msg.payload=\"err\";\n}\nelse if(msg.topic==\"R\"){\n    msg.payload=\"R\";\n}\nelse{\n    msg.payload=msg.payload[1][0].cod;\n}\n\nvar topic=msg.topico.split('/');\nvar num=topic[5];\nmsg.topic=\"/TIUN/app/reservas/reservar/\"+num+\"/ans\";\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":840,"wires":[["95c086f3.abd908","a5118f8a.201e1"]]},{"id":"f84fc5d0.d75d18","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/reservar/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":540,"y":720,"wires":[]},{"id":"6296e6b2.132178","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":720,"wires":[["6d72fdef.e9b4f4"]]},{"id":"6d72fdef.e9b4f4","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='{\"nombre\": \"dmaciass\", \"mesa\":10,\"inicio\":17,\"fin\":19}'\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":720,"wires":[["f84fc5d0.d75d18"]]},{"id":"95c086f3.abd908","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":650,"y":820,"wires":[]},{"id":"bfd23d96.20235","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1340,"wires":[["2f703032.84495"]]},{"id":"2f703032.84495","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topic=\"select * from mesas;\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1340,"wires":[["b9ce5a53.1e70f8"]]},{"id":"b9ce5a53.1e70f8","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"","x":410,"y":1340,"wires":[["4dd86db7.7ec0d4"]]},{"id":"4dd86db7.7ec0d4","type":"function","z":"aa52ac5a.a6265","name":"","func":"var m=\"\";\nfor(var i=0;i<msg.payload.length;i++){\n    m+=\"select mesa,date_format(hora_inicio,'%H') as inicio,\"+\n    \"date_format(hora_fin,'%H') as fin \"+\n    \"from reserva where mesa=\"+msg.payload[i].num+\";\";\n}\nmsg.topic=m;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1380,"wires":[["dd97ac53.262ba"]]},{"id":"dd97ac53.262ba","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"","x":270,"y":1380,"wires":[["de673108.82d1c","87c02c2f.978b8"]]},{"id":"87c02c2f.978b8","type":"function","z":"aa52ac5a.a6265","name":"","func":"var hora=new Date();\nhora=hora.getHours();\nvar d = \"<table class='egt' border=2>\"+\n\"<caption>Horarios de mesas</caption>\"+\n\"<tr>\"+\n\"<th scope='row'>Mesa</th>\"+\n\"<th>00:00</th>\"+\n\"<th>01:00</th>\"+\n\"<th>02:00</th>\"+\n\"<th>03:00</th>\"+\n\"<th>04:00</th>\"+\n\"<th>05:00</th>\"+\n\"<th>06:00</th>\"+\n\"<th>07:00</th>\"+\n\"<th>08:00</th>\"+\n\"<th>09:00</th>\"+\n\"<th>10:00</th>\"+\n\"<th>11:00</th>\"+\n\"<th>12:00</th>\"+\n\"<th>13:00</th>\"+\n\"<th>14:00</th>\"+\n\"<th>15:00</th>\"+\n\"<th>16:00</th>\"+\n\"<th>17:00</th>\"+\n\"<th>18:00</th>\"+\n\"<th>19:00</th>\"+\n\"<th>20:00</th>\"+\n\"<th>21:00</th>\"+\n\"<th>22:00</th>\"+\n\"<th>23:00</th>\"+\n\"</tr>\";\n//var d=\"\"\nvar p=0;\nfor(var m=0;m<msg.payload.length;m++){\n    d+=\"<tr><th>\"+(m+1)+\"</th>\";\n    for(var h=0;h<24;h++){\n        for(var r=0;r<msg.payload[m].length;r++){\n            if(msg.payload[m][r].inicio<=h & msg.payload[m][r].fin>=h){\n                p=3;\n            }\n            else if(msg.payload[m][r].inicio==hora+1 & hora==h &p<2){\n                p=2;\n            }\n            else if(msg.payload[m][r].inicio!=hora & hora==h & p<1){\n                p=1;\n            }\n        }\n        if(p>=1){\n            switch(p){\n                case 1:\n                    d+=\"<td style='background: rgb(0,255,0)'></td>\\n\";\n                    break;\n                case 2:\n                    d+=\"<td style='background: rgb(255,200,0)'></td>\\n\";\n                    break;\n                case 3:\n                    d+=\"<td style='background: rgb(255,0,0)'></td>\\n\";\n                    break\n                default:\n                    d+=\"<td style='background: rgb(200,200,0)'></td>\\n\";\n                    break;\n            }\n            p=0;\n        }\n        else{\n            if (hora==h){\n                d+=\"<td style='background: rgb(0,255,0)'></td>\\n\";\n            }\n            else{\n                d+=\"<td style='background: rgb(200,200,200)'></td>\\n\";\n            }\n        }\n    }\n    d+=\"</tr>\";\n}\nd+=\"<tr>\"+\n\"</tr>\"+\n\"</table>\";\nmsg.payload=d;\nmsg.topic=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1420,"wires":[["5791ec40.a2b164"]]},{"id":"de673108.82d1c","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/HRA/","qos":"","retain":"","broker":"20d0228.8f11dde","x":470,"y":1380,"wires":[]},{"id":"5791ec40.a2b164","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/Actualizar/ans","qos":"","retain":"","broker":"33cb564d.81c7fa","x":400,"y":1420,"wires":[]},{"id":"2c382f95.9e838","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/Actualizar/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":240,"y":1300,"wires":[["2f703032.84495"]]},{"id":"b56b14a5.e55058","type":"comment","z":"aa52ac5a.a6265","name":"Horario grafico","info":"","x":180,"y":1260,"wires":[]},{"id":"bf69e77f.cc2ac8","type":"comment","z":"aa52ac5a.a6265","name":"Resalización de reservas","info":"","x":230,"y":680,"wires":[]},{"id":"a6d46c33.7646","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"str","pretty":false,"x":410,"y":360,"wires":[[]]},{"id":"bd86bb1c.b2f198","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload=msg.payload.split(',');\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["a6d46c33.7646"]]},{"id":"27d85630.5edaba","type":"comment","z":"aa52ac5a.a6265","name":"Consulta de reservas","info":"","x":220,"y":180,"wires":[]},{"id":"d3e5d7c9.506dc8","type":"comment","z":"aa52ac5a.a6265","name":"Tutorias institucionales","info":"","x":180,"y":1520,"wires":[]},{"id":"3eb2d427.2ee73c","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/tutorias/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":170,"y":1640,"wires":[["b7cffde4.6c207","9250f6a2.cf6e88"]]},{"id":"6f2dcc71.5b48f4","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":530,"y":1700,"wires":[]},{"id":"b7cffde4.6c207","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":1640,"wires":[["fabce34.74c0a2"]]},{"id":"fabce34.74c0a2","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nfor(var c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        msg.topic+=\"select * from tutorias_institucionales where \"+filtro+\"='\"+valor+\"';\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1640,"wires":[["1d6f5dc9.44bf32"]]},{"id":"1d6f5dc9.44bf32","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"","x":610,"y":1640,"wires":[["6ad7d5d3.6ba04c","9250f6a2.cf6e88","5a81d4bf.aca30c"]]},{"id":"6ad7d5d3.6ba04c","type":"function","z":"aa52ac5a.a6265","name":"","func":"\n\n\n\nmsg.topic=\"/TIUN/app/tutorias/\"+msg.numero+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1700,"wires":[["9d6a2c7e.75a"]]},{"id":"9e591d43.743f","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/tutorias/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":470,"y":1600,"wires":[]},{"id":"7949fa35.9e7c74","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1600,"wires":[["a14dfc8d.1982d"]]},{"id":"a14dfc8d.1982d","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='[{\"campo\":\"materia\",\"valor\":\"C\"},{\"campo\":\"materia\",\"valor\":\"C\"},{\"campo\":\"materia\",\"valor\":\"I\"},{\"campo\":\"materia\",\"valor\":\"Á\"}]';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1600,"wires":[["9e591d43.743f"]]},{"id":"9250f6a2.cf6e88","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":1760,"wires":[]},{"id":"9d6a2c7e.75a","type":"function","z":"aa52ac5a.a6265","name":"","func":"var text=\"\";\n\nfor(var c=0; c<msg.payload.length ; c++){\n    if(msg.payload[0].length || msg.payload[0].length===0){\n        for(var d=0; d<msg.payload[c].length;d++){\n            text+= msg.payload[c][d].cod+\"$\"+\n            msg.payload[c][d].area+\"$\"+\n            msg.payload[c][d].materia+\"$\"+\n            msg.payload[c][d].fecha+\"$\"+\n            msg.payload[c][d].dia+\"$\"+\n            msg.payload[c][d].hora+\"$\"+\n            msg.payload[c][d].lugar+\";\";\n        }\n        text+=\"#\";\n    }\n    else{\n        text+= msg.payload[c].cod+\"$\"+\n        msg.payload[c].area+\"$\"+\n        msg.payload[c].materia+\"$\"+\n        msg.payload[c].fecha+\"$\"+\n        msg.payload[c].dia+\"$\"+\n        msg.payload[c].hora+\"$\"+\n        msg.payload[c].lugar+\";\";\n    }\n    \n}\nmsg.payload=text;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1700,"wires":[["9250f6a2.cf6e88","6f2dcc71.5b48f4","65d1f819.d03348"]]},{"id":"81f36587.544fd8","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/miconsulta/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":280,"y":460,"wires":[["55afd2af.edcf3c","76896189.197fe"]]},{"id":"55afd2af.edcf3c","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.num=msg.topic.split(\"/\")[5];\nvar hora1=new Date();\nhora=hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":\"+hora1.getMinutes()+\":\"+hora1.getSeconds();\n\nif(msg.payload){\n    msg.topic=\"select usuario from usuario where usuario='\"+msg.payload+\"';\";\n}\nelse{\n    msg.topic=\"Err 1\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["133ff13e.3ec94f"]]},{"id":"f176064e.57f6a8","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":210,"y":500,"wires":[["43dca3ce.c66e4c"]]},{"id":"43dca3ce.c66e4c","type":"function","z":"aa52ac5a.a6265","name":"","func":"var hora1=new Date();\nvar hora=hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":\"+hora1.getMinutes()+\":\"+hora1.getSeconds();\n\nif(msg.payload.length){\n    msg.topic=\"select cod,mesa,date_format(hora_inicio,'%H:%i:%s') as inicio,date_format(hora_fin,'%H:%i:%s') as fin \"+\n    \" from reserva where responsable = '\"+msg.payload[0].usuario+\"' order by hora_inicio;\"+\n    \n    \"select num from mesas where num in (select mesa\"+\n    \" from reserva where responsable = '\"+msg.payload[0].usuario+\"' and hora_inicio<='\"+hora+\"') and estado=1;\";\n}\nelse{\n    msg.topic=\"Err 2\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["73f7f145.a7c7f"]]},{"id":"133ff13e.3ec94f","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Err 1","vt":"str"},{"t":"neq","v":"Err 1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":460,"wires":[["5e401c1.533f8e4"],["f176064e.57f6a8"]]},{"id":"2094f690.8788ca","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":650,"y":540,"wires":[]},{"id":"5e401c1.533f8e4","type":"function","z":"aa52ac5a.a6265","name":"","func":"if(msg.topic==\"Err 1\"){\n    msg.payload=\"E\";\n}\nelse if(msg.topic==\"Err 2\"){\n    msg.payload=\"U\";\n}\nelse if(msg.topic==\"Err 3\"){\n    msg.payload=\"R\";\n}\n/*else if(msg.topic==\"T\"){\n    msg.payload=\"No Existe\";\n}*/\nmsg.topic=\"/TIUN/app/reservas/miconsulta/\"+msg.num+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["76896189.197fe","2094f690.8788ca"]]},{"id":"73f7f145.a7c7f","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Err 2","vt":"str"},{"t":"neq","v":"Err 2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":500,"wires":[["5e401c1.533f8e4"],["6415a1dc.2f58d"]]},{"id":"6415a1dc.2f58d","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":210,"y":540,"wires":[["f65fba82.0d9958","76896189.197fe"]]},{"id":"f65fba82.0d9958","type":"function","z":"aa52ac5a.a6265","name":"","func":"var mensaje=\"\";\nif(msg.payload[0].length){\n    for(var a=0;a<msg.payload[0].length;a++){\n        mensaje+=msg.payload[0][a].cod+\",\"+\n        msg.payload[0][a].mesa+\",\"+\n        msg.payload[0][a].inicio+\",\"+\n        msg.payload[0][a].fin+\";\";\n        if(a+1==msg.payload[0].length){\n            mensaje+=\"$\";\n\n        }\n    }\n    if(msg.payload[1].length){\n        for(var b=0;b<msg.payload[1].length;b++){\n            mensaje+=msg.payload[1][b].num;\n            if(b+1!=msg.payload[1].length){\n                mensaje+=\";\";\n            }\n        }\n    }\n    else{\n        mensaje+=\"n\";\n    }\n    msg.payload=mensaje;\n    msg.topic=\"T\"\n}\nelse{\n    msg.topic=\"Err 3\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["5e401c1.533f8e4"]]},{"id":"4a8a173f.818af8","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/miconsulta/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":550,"y":420,"wires":[]},{"id":"e766b4cf.66daf8","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["9030c67c.2835b8"]]},{"id":"9030c67c.2835b8","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='Diego';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["4a8a173f.818af8"]]},{"id":"65d1f819.d03348","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload.replace('/#/g','\\n\\n');\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1760,"wires":[["87f8e425.bb08e8"]]},{"id":"87f8e425.bb08e8","type":"ui_text","z":"aa52ac5a.a6265","group":"49dfd7.3ffe7028","order":0,"width":"11","height":"16","name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":410,"y":1760,"wires":[]},{"id":"76896189.197fe","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":640,"wires":[]},{"id":"39dc3da0.d4f462","type":"comment","z":"aa52ac5a.a6265","name":"Convocatorias","info":"","x":910,"y":1520,"wires":[]},{"id":"cd259541.e2b5a8","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/convocatorias/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":950,"y":1620,"wires":[["944a215f.60344","48c45638.edb048"]]},{"id":"944a215f.60344","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":1170,"y":1620,"wires":[["4eab5590.58d51c"]]},{"id":"4eab5590.58d51c","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nvar c;\nfor(c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        msg.topic+=\"select * from convocatorias where \"+filtro+\" like '\"+valor+\"';\";\n    }\n}\nif(c===0){\n    msg.topic+=\"select * from convocatorias;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1620,"wires":[["90f9a094.a078a"]]},{"id":"90f9a094.a078a","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"","x":1430,"y":1620,"wires":[["606e63f6.16dd4c"]]},{"id":"606e63f6.16dd4c","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topic=\"/TIUN/app/convocatorias/\"+msg.numero+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1680,"wires":[["901c8f2.33d067"]]},{"id":"901c8f2.33d067","type":"function","z":"aa52ac5a.a6265","name":"","func":"var text=\"\";\n\nfor(var c=0; c<msg.payload.length ; c++){\n    if(msg.payload[0].length){\n        for(var d=0; d<msg.payload[c].length;d++){\n            text+= msg.payload[c][d].cod+\"$\"+\n            msg.payload[c][d].facultad+\"$\"+\n            msg.payload[c][d].modalidad+\"$\"+\n            msg.payload[c][d].para+\"$\"+\n            msg.payload[c][d].tipo+\"$\"+\n            msg.payload[c][d].nombre+\"$\"+\n            msg.payload[c][d].est_req+\"$\"+\n            msg.payload[c][d].horas+\"$\"+\n            msg.payload[c][d].pago+\";\";\n        }\n        text+=\"#\";\n    }\n    else{\n        text+= msg.payload[c].cod+\"$\"+\n        msg.payload[c].facultad+\"$\"+\n        msg.payload[c].modalidad+\"$\"+\n        msg.payload[c].para+\"$\"+\n        msg.payload[c].tipo+\"$\"+\n        msg.payload[c].nombre+\"$\"+\n        msg.payload[c].est_req+\"$\"+\n        msg.payload[c].horas+\"$\"+\n        msg.payload[c].pago+\";\";\n    }\n    \n}\nmsg.payload=text;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1680,"wires":[["6748061c.e7eb48","48c45638.edb048"]]},{"id":"6748061c.e7eb48","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1390,"y":1680,"wires":[]},{"id":"c4ea56c2.4ecad8","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nmsg.topic+=\"select * from tutorias_institucionales where \";\nvar l=0;\nfor(var c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        if(c!==0){\n            /*if (msg.payload[c].logic==\"y\"){\n                msg.topic+=\") and (\";\n            }*/\n            //else if (msg.payload[c].logic==\"o\"){\n                msg.topic+=\" or \";\n            //}\n        }\n        else{msg.topic+=\"(\";}\n        msg.topic+=filtro+\"='\"+valor+\"'\";\n    }\n    if(c+1==msg.payload.length){msg.topic+=\");\";}\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":1760,"wires":[[]]},{"id":"7f3fa229.eeff6c","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='[{\"campo\": \"materia\", \"valor\":\"Termodinámica\",\"logic\":\"o\"},{\"campo\": \"materia\", \"valor\":\"Termodinámica\",\"logic\":\"o\"},{\"campo\": \"materia\", \"valor\":\"Termodinámica\",\"logic\":\"y\"},{\"campo\": \"materia\", \"valor\":\"Termodinámica\",\"logic\":\"o\"},{\"campo\": \"materia\", \"valor\":\"Termodinámica\",\"logic\":\"o\"},{\"campo\": \"materia\", \"valor\":\"Termodinámica\",\"logic\":\"y\"}]';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1560,"wires":[["9e591d43.743f"]]},{"id":"59172ec6.3b22a","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1560,"wires":[["7f3fa229.eeff6c"]]},{"id":"93088734.f8ce28","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":1560,"wires":[["c2fbfd20.84af4"]]},{"id":"c2fbfd20.84af4","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='[]';\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1560,"wires":[["291224f2.99da2c"]]},{"id":"291224f2.99da2c","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/convocatorias/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1390,"y":1560,"wires":[]},{"id":"48c45638.edb048","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":1720,"wires":[]},{"id":"4847c7b3.974298","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nmsg.topic+=\"select * from convocatorias where \";\nvar l=0;\nfor(var c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        if(c!==0){\n            /*if (msg.payload[c].logic==\"y\"){\n                msg.topic+=\") and (\";\n            }*/\n            //else if (msg.payload[c].logic==\"o\"){\n                msg.topic+=\" or \";\n            //}\n        }\n        else{msg.topic+=\"(\";}\n        msg.topic+=filtro+\" like '\"+valor+\"'\";\n    }\n    if(c+1==msg.payload.length){msg.topic+=\");\";}\n}\nif(c===0){\n    msg.topic=\"select * from convocatorias;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1720,"wires":[[]]},{"id":"e6c3c314.e0449","type":"comment","z":"aa52ac5a.a6265","name":"laboral","info":"","x":130,"y":1860,"wires":[]},{"id":"dced3d6e.da787","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/laboral/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":160,"y":1960,"wires":[["7ccde48e.4941bc","9966d239.77d7d"]]},{"id":"7ccde48e.4941bc","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":1960,"wires":[["1a0f7b75.45d5b5"]]},{"id":"1a0f7b75.45d5b5","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nvar c;\nfor(c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        msg.topic+=\"select * from laboral where \"+filtro+\" like '\"+valor+\"';\";\n    }\n}\nif(c===0){\n    msg.topic+=\"select * from laboral;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1960,"wires":[["f0fcd12c.8bfe9"]]},{"id":"f0fcd12c.8bfe9","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"","x":670,"y":1960,"wires":[["5d8d8d6f.9f1754"]]},{"id":"5d8d8d6f.9f1754","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topic=\"/TIUN/app/laboral/\"+msg.numero+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":2020,"wires":[["417b6fd8.d34ef"]]},{"id":"417b6fd8.d34ef","type":"function","z":"aa52ac5a.a6265","name":"","func":"var text=\"\";\n\nfor(var c=0; c<msg.payload.length ; c++){\n    if(msg.payload[0].length){\n        for(var d=0; d<msg.payload[c].length;d++){\n            text+= msg.payload[c][d].cod+\"$\"+\n            msg.payload[c][d].cargo+\"$\"+\n            msg.payload[c][d].tiempo+\"$\"+\n            msg.payload[c][d].cantidad+\"$\"+\n            msg.payload[c][d].avance+\"$\"+\n            msg.payload[c][d].cierre+\"$\"+\n            msg.payload[c][d].link+\";\";\n        }\n        text+=\"#\";\n    }\n    else{\n        text+= msg.payload[c].cod+\"$\"+\n        msg.payload[c].cargo+\"$\"+\n        msg.payload[c].tiempo+\"$\"+\n        msg.payload[c].cantidad+\"$\"+\n        msg.payload[c].avance+\"$\"+\n        msg.payload[c].cierre+\"$\"+\n        msg.payload[c].link+\";\";\n    }\n    \n}\nmsg.payload=text;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":2020,"wires":[["94b24110.f4a95","9966d239.77d7d"]]},{"id":"94b24110.f4a95","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":630,"y":2020,"wires":[]},{"id":"9e354698.59cfe8","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1900,"wires":[["d438bdbd.ab45f"]]},{"id":"d438bdbd.ab45f","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='[]';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1900,"wires":[["51d6b238.65019c"]]},{"id":"51d6b238.65019c","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/laboral/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":610,"y":1900,"wires":[]},{"id":"9966d239.77d7d","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":2060,"wires":[]},{"id":"73fff177.2bea1","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nmsg.topic+=\"select * from laboral where \";\nvar l=0;\nfor(var c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        if(c!==0){\n            /*if (msg.payload[c].logic==\"y\"){\n                msg.topic+=\") and (\";\n            }*/\n            //else if (msg.payload[c].logic==\"o\"){\n                msg.topic+=\" or \";\n            //}\n        }\n        else{msg.topic+=\"(\";}\n        msg.topic+=filtro+\" like '\"+valor+\"'\";\n    }\n    if(c+1==msg.payload.length){msg.topic+=\");\";}\n}\nif(c===0){\n    msg.topic=\"select * from laboral;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":2060,"wires":[[]]},{"id":"a86cadb7.c8e29","type":"comment","z":"aa52ac5a.a6265","name":"posgrados","info":"","x":940,"y":1860,"wires":[]},{"id":"106cfa81.4b2945","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/posgrados/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":980,"y":1960,"wires":[["ad10742a.73edb8","56e3d1a1.af39d"]]},{"id":"ad10742a.73edb8","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":1210,"y":1960,"wires":[["14a7e554.a1c2eb"]]},{"id":"14a7e554.a1c2eb","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nvar c;\nfor(c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        msg.topic+=\"select * from posgrado where \"+filtro+\" like '\"+valor+\"';\";\n    }\n}\nif(c===0){\n    msg.topic+=\"select * from posgrado;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":1960,"wires":[["eeed52ae.c650c"]]},{"id":"eeed52ae.c650c","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"","x":1470,"y":1960,"wires":[["e867f224.72099","56e3d1a1.af39d"]]},{"id":"e867f224.72099","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topic=\"/TIUN/app/posgrados/\"+msg.numero+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":2020,"wires":[["8dc04717.080978"]]},{"id":"8dc04717.080978","type":"function","z":"aa52ac5a.a6265","name":"","func":"var text=\"\";\n\nfor(var c=0; c<msg.payload.length ; c++){\n    if(msg.payload[0].length){\n        for(var d=0; d<msg.payload[c].length;d++){\n            text+= msg.payload[c][d].cod+\"$\"+\n            msg.payload[c][d].tipologia+\"$\"+\n            msg.payload[c][d].facultad+\"$\"+\n            msg.payload[c][d].nombre+\";\";\n        }\n        text+=\"#\";\n    }\n    else{\n        text+= msg.payload[c].cod+\"$\"+\n        msg.payload[c].tipologia+\"$\"+\n        msg.payload[c].facultad+\"$\"+\n        msg.payload[c].nombre+\";\";\n    }\n    \n}\nmsg.payload=text;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2020,"wires":[["a823239b.61259","56e3d1a1.af39d"]]},{"id":"a823239b.61259","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1430,"y":2020,"wires":[]},{"id":"af8bc715.21d6b8","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":1900,"wires":[["2727c57a.5b8afa"]]},{"id":"2727c57a.5b8afa","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='[]';\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1900,"wires":[["a1475914.81fc88"]]},{"id":"a1475914.81fc88","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/posgrados/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1420,"y":1900,"wires":[]},{"id":"56e3d1a1.af39d","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":2060,"wires":[]},{"id":"9b71fada.0ea158","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nmsg.topic+=\"select * from laboral where \";\nvar l=0;\nfor(var c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        if(c!==0){\n            /*if (msg.payload[c].logic==\"y\"){\n                msg.topic+=\") and (\";\n            }*/\n            //else if (msg.payload[c].logic==\"o\"){\n                msg.topic+=\" or \";\n            //}\n        }\n        else{msg.topic+=\"(\";}\n        msg.topic+=filtro+\" like '\"+valor+\"'\";\n    }\n    if(c+1==msg.payload.length){msg.topic+=\");\";}\n}\nif(c===0){\n    msg.topic=\"select * from laboral;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":2060,"wires":[[]]},{"id":"b5f881c0.c02fb","type":"comment","z":"aa52ac5a.a6265","name":"materias","info":"","x":140,"y":2180,"wires":[]},{"id":"e06001a4.d6c85","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/materias/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":170,"y":2220,"wires":[["ea88eb7.519fb18","f2e8ea00.8876c8"]]},{"id":"ea88eb7.519fb18","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":2220,"wires":[["f2e8ea00.8876c8","4b5032fc.cfe65c"]]},{"id":"9b67c4eb.c31168","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nvar c;\nfor(c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        msg.topic+=\"select * from materia where \"+filtro+\" like '\"+valor+\"' order by nombre;\";\n    }\n}\nif(c===0){\n    msg.topic+=\"select * from materia order by nombre;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2340,"wires":[[]]},{"id":"45e147a1.16ad28","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"","x":670,"y":2220,"wires":[["58a2390c.f107e8"]]},{"id":"58a2390c.f107e8","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topic=\"/TIUN/app/materias/\"+msg.numero+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":2280,"wires":[["e44ee3f2.36d8f"]]},{"id":"e44ee3f2.36d8f","type":"function","z":"aa52ac5a.a6265","name":"","func":"var text=\"\";\n\nfor(var c=0; c<msg.payload.length ; c++){\n    if(msg.payload[0].length){\n        for(var d=0; d<msg.payload[c].length;d++){\n            text+= msg.payload[c][d].cod+\"$\"+\n            msg.payload[c][d].codigo+\"$\"+\n            msg.payload[c][d].nombre+\"$\"+\n            msg.payload[c][d].creditos+\"$\"+\n            msg.payload[c][d].tipologia+\"$\"+\n            msg.payload[c][d].descripcion+\"$\"+\n            msg.payload[c][d].facultad+\"$\"+\n            msg.payload[c][d].carrera+\"%%\";\n        }\n        text+=\"#\";\n    }\n    else{\n        text+= msg.payload[c].cod+\"$\"+\n        msg.payload[c].codigo+\"$\"+\n        msg.payload[c].nombre+\"$\"+\n        msg.payload[c].creditos+\"$\"+\n        msg.payload[c].tipologia+\"$\"+\n        msg.payload[c].descripcion+\"$\"+\n        msg.payload[c].facultad+\"$\"+\n        msg.payload[c].carrera+\"%%\";\n    }\n    \n}\nmsg.payload=text;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":2280,"wires":[["854cf273.bba09","f2e8ea00.8876c8"]]},{"id":"854cf273.bba09","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":610,"y":2280,"wires":[]},{"id":"60585203.548dec","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":2160,"wires":[["356065a1.b40e1a"]]},{"id":"356065a1.b40e1a","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='[{\"campo\":\"nombre\",\"valor\":\"%contr%\"},{\"campo\":\"carrera\",\"valor\":\"%electronica%\",\"logic\":\"y\"}]';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2160,"wires":[["c7b55925.52d2c8"]]},{"id":"c7b55925.52d2c8","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/materias/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":610,"y":2160,"wires":[]},{"id":"f2e8ea00.8876c8","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":2320,"wires":[]},{"id":"4b5032fc.cfe65c","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nmsg.topic+=\"select * from materia where \";\nvar l=0;\nfor(var c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        if(c!==0){\n            if (msg.payload[c].logic==\"y\"){\n                msg.topic+=\") and (\";\n            }\n            else if (msg.payload[c].logic==\"o\"){\n                msg.topic+=\" or \";\n            }\n        }\n        else{msg.topic+=\"(\";}\n        msg.topic+=filtro+\" like '\"+valor+\"'\";\n    }\n    if(c+1==msg.payload.length){msg.topic+=\")  group by (codigo);\";}\n}\nif(c===0){\n    msg.topic=\"select * from materia group by (codigo);\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":2220,"wires":[["45e147a1.16ad28","f2e8ea00.8876c8"]]},{"id":"d353fd24.8f985","type":"comment","z":"aa52ac5a.a6265","name":"gruposu","info":"","x":920,"y":2180,"wires":[]},{"id":"84ddbcce.6f66","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/gruposu/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":950,"y":2220,"wires":[["8a4049bc.120718","904a851d.fdc5c8"]]},{"id":"8a4049bc.120718","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":1190,"y":2220,"wires":[["f0a43ffc.82f78"]]},{"id":"f0a43ffc.82f78","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nvar c;\nfor(c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        msg.topic+=\"select * from gruposu where \"+filtro+\" like '\"+valor+\"';\";\n    }\n}\nif(c===0){\n    msg.topic+=\"select * from gruposu;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":2220,"wires":[["148520dd.ae527f"]]},{"id":"148520dd.ae527f","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"","x":1450,"y":2220,"wires":[["ce046254.7c1a6"]]},{"id":"ce046254.7c1a6","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topic=\"/TIUN/app/gruposu/\"+msg.numero+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":2280,"wires":[["2be9b9e3.a54276"]]},{"id":"2be9b9e3.a54276","type":"function","z":"aa52ac5a.a6265","name":"","func":"var text=\"\";\n\nfor(var c=0; c<msg.payload.length ; c++){\n    if(msg.payload[0].length){\n        for(var d=0; d<msg.payload[c].length;d++){\n            text+= msg.payload[c][d].cod+\"$\"+\n            msg.payload[c][d].nombre+\"$\"+\n            msg.payload[c][d].descripcion+\"$\"+\n            msg.payload[c][d].lineas+\"$\"+\n            msg.payload[c][d].dept+\"$\"+\n            msg.payload[c][d].link+\"$\"+\n            msg.payload[c][d].facultad+\"$\"+\n            msg.payload[c][d].tipo+\";\";\n        }\n        text+=\"#\";\n    }\n    else{\n        text+= msg.payload[c].cod+\"$\"+\n        msg.payload[c].nombre+\"$\"+\n        msg.payload[c].descripcion+\"$\"+\n        msg.payload[c].lineas+\"$\"+\n        msg.payload[c].dept+\"$\"+\n        msg.payload[c].link+\"$\"+\n        msg.payload[c].facultad+\"$\"+\n        msg.payload[c].tipo+\";\";\n    }\n    \n}\nmsg.payload=text;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":2280,"wires":[["343495a4.7e453a","904a851d.fdc5c8"]]},{"id":"343495a4.7e453a","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1410,"y":2280,"wires":[]},{"id":"b349b359.75d84","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":2160,"wires":[["108aa530.def5db"]]},{"id":"108aa530.def5db","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='[]';\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2160,"wires":[["e07275c.7aba688"]]},{"id":"e07275c.7aba688","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/gruposu/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1390,"y":2160,"wires":[]},{"id":"904a851d.fdc5c8","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":2320,"wires":[]},{"id":"838e843c.034468","type":"function","z":"aa52ac5a.a6265","name":"","func":"var n=msg.topic.split(\"/\");\nmsg.numero=n[4];\nmsg.topic=\"\";\nmsg.topic+=\"select * from laboral where \";\nvar l=0;\nfor(var c=0; c<msg.payload.length;c++){\n    if(msg.payload[c].campo){\n        var filtro=msg.payload[c].campo;\n        var valor=msg.payload[c].valor;\n        if(c!==0){\n            /*if (msg.payload[c].logic==\"y\"){\n                msg.topic+=\") and (\";\n            }*/\n            //else if (msg.payload[c].logic==\"o\"){\n                msg.topic+=\" or \";\n            //}\n        }\n        else{msg.topic+=\"(\";}\n        msg.topic+=filtro+\" like '\"+valor+\"'\";\n    }\n    if(c+1==msg.payload.length){msg.topic+=\");\";}\n}\nif(c===0){\n    msg.topic=\"select * from laboral;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":2320,"wires":[[]]},{"id":"dcc252a2.ae14c","type":"comment","z":"aa52ac5a.a6265","name":".","info":"","x":50,"y":4580,"wires":[]},{"id":"8d0a3a0c.430b58","type":"comment","z":"aa52ac5a.a6265","name":"GEA Personal","info":"","x":1070,"y":20,"wires":[]},{"id":"c9ec9bc3.230dd8","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/geap/crear/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":1120,"y":500,"wires":[["b04b6b45.f92b08","852be848.e0b698"]]},{"id":"b04b6b45.f92b08","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":1350,"y":500,"wires":[["9122339f.6c9d5"]]},{"id":"36d14186.65c4be","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":1630,"y":499,"wires":[["d26bf3bb.db07b","852be848.e0b698"]]},{"id":"9122339f.6c9d5","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topico=msg.topic;\nvar hora1=new Date();\nvar res,res1;\nvar numi=\"\";\nvar numf=\"\";\nif(msg.payload.Reserva!=\"n\"){\n    res=msg.payload.Reserva;\n    res1=\"=\"+res;\n}\nelse{\n    res=\"null\";\n    res1=\"is null\";\n}\n\nif(msg.payload.ini<10){\n    numi=\"0\";\n}\nif(msg.payload.fin-1<10){\n    numf=\"0\";\n}\n\nmsg.topic=\"insert into gea_personal (responsable,reserva,hora_inicio,hora_fin,activo,comentarios,materia) values ('\"+\n    msg.payload.Responsable+\"',\"+\n    res+\",'\"+\n    hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+numi+msg.payload.ini+\":00:00','\"+\n    hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+numf+(msg.payload.fin-1)+\":59:59',\"+\n    msg.payload.act+\",'\"+\n    msg.payload.comment+\"',\"+\n    msg.payload.materia+\");\";\nmsg.topic+=\"select cod from gea_personal where \"+\n    \"responsable='\"+msg.payload.Responsable+\"' and \"+\n    \"reserva \"+res1+\" and \"+\n    \"date_format(hora_inicio,'%H:%i:%s')='\"+numi+msg.payload.ini+\":00:00' and \"+\n    \"date_format(hora_fin,'%H:%i:%s')='\"+numf+(msg.payload.fin-1)+\":59:59' and \"+\n    \"activo='\"+msg.payload.act+\"' and \"+\n    \"comentarios='\"+msg.payload.comment+\"' and \"+\n    \"materia=\"+msg.payload.materia+\";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":500,"wires":[["36d14186.65c4be","852be848.e0b698"]]},{"id":"d26bf3bb.db07b","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload=msg.payload[1][0].cod;\n\nvar topic=msg.topico.split('/');\nvar num=topic[5];\nmsg.topic=\"/TIUN/app/geap/crear/\"+num+\"/ans\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":540,"wires":[["286e8495.bc315c","852be848.e0b698"]]},{"id":"d81fc129.feb5e","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/geap/crear/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1460,"y":460,"wires":[]},{"id":"9b5afb22.c23e78","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":460,"wires":[["f9460174.0ceff"]]},{"id":"f9460174.0ceff","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='{\"Responsable\": \"Diego\", \"Reserva\":\"n\",\"ini\":0,\"fin\":2,\"act\":0,\"comment\":\"no me joda\",\"materia\":1140}'\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":460,"wires":[["d81fc129.feb5e"]]},{"id":"286e8495.bc315c","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1490,"y":540,"wires":[]},{"id":"852be848.e0b698","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1630,"y":540,"wires":[]},{"id":"3e6bd22f.b6ac7e","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/geap/miconsulta/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":1150,"y":280,"wires":[["7cc42093.e6eee","286ec2d6.74682e"]]},{"id":"7cc42093.e6eee","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.num=msg.topic.split(\"/\")[5];\nvar hora1=new Date();\nhora=hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":\"+hora1.getMinutes()+\":\"+hora1.getSeconds();\n\nif(msg.payload){\n    msg.topic=\"select usuario from usuario where usuario='\"+msg.payload+\"';\";\n}\nelse{\n    msg.topic=\"Err 1\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":280,"wires":[["679c461b.844098"]]},{"id":"cf447f1c.08155","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":1090,"y":320,"wires":[["a5ade22c.b61ac","286ec2d6.74682e"]]},{"id":"a5ade22c.b61ac","type":"function","z":"aa52ac5a.a6265","name":"","func":"var hora1=new Date();\nvar hora=hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":\"+hora1.getMinutes()+\":\"+hora1.getSeconds();\n\nif(msg.payload.length){\n    msg.topic=\"select cod,responsable,reserva,date_format(hora_inicio,'%H:%i:%s') as inicio,date_format(hora_fin,'%H:%i:%s') as fin,\"+\n    \"activo,comentarios,materia from gea_personal where responsable = '\"+msg.payload[0].usuario+\"' order by hora_inicio;\"+\n    \n    \"select cod,mesa from reserva where cod in (select reserva \"+\n    \"from gea_personal where responsable = '\"+msg.payload[0].usuario+\"');\"+\n    \"select cod,nombre from materia where cod in (select materia \"+\n    \"from gea_personal where responsable = '\"+msg.payload[0].usuario+\"');\";\n}\nelse{\n    msg.topic=\"Err 2\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":320,"wires":[["58706cf5.552264"]]},{"id":"679c461b.844098","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Err 1","vt":"str"},{"t":"neq","v":"Err 1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":280,"wires":[["ff227e8b.763d2"],["cf447f1c.08155"]]},{"id":"dd04ca3e.8d1948","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1530,"y":360,"wires":[]},{"id":"ff227e8b.763d2","type":"function","z":"aa52ac5a.a6265","name":"","func":"if(msg.topic==\"Err 1\"){\n    msg.payload=\"E\";\n}\nelse if(msg.topic==\"Err 2\"){\n    msg.payload=\"U\";\n}\nelse if(msg.topic==\"Err 3\"){\n    msg.payload=\"R\";\n}\n/*else if(msg.topic==\"T\"){\n    msg.payload=\"No Existe\";\n}*/\nmsg.topic=\"/TIUN/app/geap/miconsulta/\"+msg.num+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":320,"wires":[["dd04ca3e.8d1948","286ec2d6.74682e","e9be638b.92f1c"]]},{"id":"58706cf5.552264","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Err 2","vt":"str"},{"t":"neq","v":"Err 2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":320,"wires":[["ff227e8b.763d2"],["c8169ade.c19f98"]]},{"id":"c8169ade.c19f98","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":1090,"y":360,"wires":[["7e4135dc.d0d6ac"]]},{"id":"7e4135dc.d0d6ac","type":"function","z":"aa52ac5a.a6265","name":"","func":"var mensaje=\"\";\nif(msg.payload[0].length){\n    for(var a=0;a<msg.payload[0].length;a++){\n        mensaje+=msg.payload[0][a].cod+\"¬\"+\n        msg.payload[0][a].responsable+\"¬\"+\n        msg.payload[0][a].reserva+\"¬\"+\n        msg.payload[0][a].inicio+\"¬\"+\n        msg.payload[0][a].fin+\"¬\"+\n        msg.payload[0][a].activo+\"¬\"+\n        msg.payload[0][a].comentarios+\"¬\"+\n        msg.payload[0][a].materia+\"¬\";\n        for(var c=0; c<msg.payload[2].length;c++){\n            if(msg.payload[2][c].cod==msg.payload[0][a].materia){\n                mensaje+=msg.payload[2][c].nombre;\n                c=msg.payload[2].length;\n            }\n        }\n        mensaje+=\"¬\";\n        for(var b=0; b<msg.payload[1].length;b++){\n            if(msg.payload[1][b].cod==msg.payload[0][a].reserva){\n                mensaje+=msg.payload[1][b].mesa;\n                b=msg.payload[1].length;\n            }\n        }\n        mensaje+=\";\";\n        if(a+1==msg.payload[0].length){\n            mensaje+=\"$\";\n        }\n    }\n    msg.payload=mensaje;\n    msg.topic=\"T\"\n}\nelse{\n    msg.topic=\"Err 3\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":360,"wires":[["ff227e8b.763d2"]]},{"id":"51f58fcf.f3026","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/geap/miconsulta/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1420,"y":240,"wires":[]},{"id":"9eb19b62.6bbbd8","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1080,"y":240,"wires":[["55054735.2d62e8"]]},{"id":"55054735.2d62e8","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='Jean Paul';\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":240,"wires":[["51f58fcf.f3026"]]},{"id":"286ec2d6.74682e","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":400,"wires":[]},{"id":"e9be638b.92f1c","type":"ui_text","z":"aa52ac5a.a6265","group":"49dfd7.3ffe7028","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":400,"wires":[]},{"id":"2ba5131d.a44a6c","type":"inject","z":"4d220972.5645d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0-22 * * *","once":false,"onceDelay":0.1,"x":610,"y":440,"wires":[["b60dca39.4045b8"]]},{"id":"b60dca39.4045b8","type":"function","z":"4d220972.5645d8","name":"borrar","func":"var hora1=new Date();\nhora=hora1.getFullYear()+\"-\"+(hora1.getMonth()+1)+\"-\"+hora1.getDate()+\" \"+hora1.getHours()+\":\"+hora1.getMinutes()+\":\"+hora1.getSeconds();\nmsg.topic=\"delete from gea_personal where hora_fin<'\"+hora+\"';\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":440,"wires":[["6dc347e1.69dd28"]]},{"id":"6dc347e1.69dd28","type":"mysql","z":"4d220972.5645d8","mydb":"494b369d.e80008","name":"UN","x":890,"y":440,"wires":[["d6e76564.01f808"]]},{"id":"cdb4b82d.26fb58","type":"comment","z":"4d220972.5645d8","name":"Borra gea personales vencidos","info":"","x":650,"y":400,"wires":[]},{"id":"5b145757.8dbd78","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/geap/consulta/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":1190,"y":100,"wires":[["db7841a9.cf751","9ad3538a.1c207"]]},{"id":"db7841a9.cf751","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":1420,"y":100,"wires":[["f7682585.477998"]]},{"id":"30537f61.4dffb","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/geap/consulta/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1450,"y":60,"wires":[]},{"id":"20ecef98.6e5c9","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1120,"y":60,"wires":[["151ba00c.3355b"]]},{"id":"151ba00c.3355b","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='[]';\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":60,"wires":[["30537f61.4dffb"]]},{"id":"f7682585.477998","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topico=msg.topic;\nmsg.topic=\"\";\nif(msg.payload.length>0 && msg.payload[0]!==\"\"){\n    for (var c=0;c<msg.payload.length;c++){\n        msg.topic+=\"select g.cod,g.responsable,g.reserva,date_format(g.hora_inicio,'%H:%i:%s') as inicio,date_format(g.hora_fin,'%H:%i:%s') as fin,g.activo,g.comentarios,g.materia,m.nombre as nmateria,r.mesa,m.facultad \"+\n        \"from gea_personal g left join reserva r on g.reserva=r.cod left join materia m on g.materia=m.cod where g.materia in (select cod from materia where nombre='\"+msg.payload[c]+\"');\";\n    }\n}\nelse{\n    msg.topic=\"select g.cod,g.responsable,g.reserva,date_format(g.hora_inicio,'%H:%i:%s') as inicio,date_format(g.hora_fin,'%H:%i:%s') as fin,g.activo,g.comentarios,g.materia,m.nombre as nmateria,r.mesa,m.facultad \"+\n        \"from gea_personal g left join reserva r on g.reserva=r.cod left join materia m on g.materia=m.cod;\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":140,"wires":[["93fd1ae3.89dfb8"]]},{"id":"93fd1ae3.89dfb8","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":1230,"y":140,"wires":[["2f932cd.d5864d4","9ad3538a.1c207"]]},{"id":"2f932cd.d5864d4","type":"function","z":"aa52ac5a.a6265","name":"","func":"var topic=msg.topico.split('/');\nvar num=topic[5];\nvar mensaje=\"\";\nfor(var c=0;c<msg.payload.length;c++){\n    if(!msg.payload[c].length){\n        if(msg.payload[c].cod){\n            mensaje+=msg.payload[c].cod+\"¬\"+\n                msg.payload[c].responsable+\"¬\"+\n                msg.payload[c].reserva+\"¬\"+\n                msg.payload[c].inicio+\"¬\"+\n                msg.payload[c].fin+\"¬\"+\n                msg.payload[c].activo+\"¬\"+\n                msg.payload[c].comentarios+\"¬\"+\n                msg.payload[c].materia+\"¬\"+\n                msg.payload[c].nmateria+\"¬\"+\n                msg.payload[c].mesa+\"¬\"+\n                msg.payload[c].facultad+\";\";\n        }\n    }\n    else{\n        for(var d=0;d<msg.payload[c].length;d++){\n            if(msg.payload[c][d].cod){\n                mensaje+=msg.payload[c][d].cod+\"¬\"+\n                    msg.payload[c][d].responsable+\"¬\"+\n                    msg.payload[c][d].reserva+\"¬\"+\n                    msg.payload[c][d].inicio+\"¬\"+\n                    msg.payload[c][d].fin+\"¬\"+\n                    msg.payload[c][d].activo+\"¬\"+\n                    msg.payload[c][d].comentarios+\"¬\"+\n                    msg.payload[c][d].materia+\"¬\"+\n                    msg.payload[c][d].nmateria+\"¬\"+\n                    msg.payload[c][d].mesa+\"¬\"+\n                    msg.payload[c][d].facultad+\";\";\n            }\n        }\n    }\n}\nmsg.payload=mensaje;\nmsg.topic=\"/TIUN/app/geap/consulta/\"+num+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":140,"wires":[["94fffc0c.62394","9ad3538a.1c207"]]},{"id":"94fffc0c.62394","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1470,"y":140,"wires":[]},{"id":"fcba81e7.050e5","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"str","pretty":false,"x":1330,"y":180,"wires":[[]]},{"id":"a69ec89e.2fef38","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload=msg.payload.split(',');\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":180,"wires":[["fcba81e7.050e5"]]},{"id":"9ad3538a.1c207","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1460,"y":200,"wires":[]},{"id":"a5118f8a.201e1","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":880,"wires":[]},{"id":"d9bf6168.2ce9b","type":"comment","z":"aa52ac5a.a6265","name":"Eliminar reservas","info":"","x":220,"y":960,"wires":[]},{"id":"c794f498.7af1e8","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/eliminar/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":220,"y":1040,"wires":[["c7c20d47.eccef","9fe6c70c.5cb178"]]},{"id":"c7c20d47.eccef","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":1040,"wires":[["4714ffc3.0b318"]]},{"id":"61ff82c3.f0f67c","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":170,"y":1100,"wires":[["4bf4e4f5.8ff2dc"]]},{"id":"4714ffc3.0b318","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topico=msg.topic;\nif(msg.payload.cod>=0){\n    msg.topic=\"select cod,mesa from reserva where cod=\"+msg.payload.cod+\" and responsable='\"+msg.payload.nombre+\"';\";\n}\nelse{\n    msg.topic=\"err\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1040,"wires":[["683e0f77.3820d"]]},{"id":"65263088.35979","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/reservas/eliminar/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":560,"y":1000,"wires":[]},{"id":"6410348c.e1c55c","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1000,"wires":[["239b1446.36867c"]]},{"id":"239b1446.36867c","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='{\"cod\":544,\"nombre\":\"Diego\"}';\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1000,"wires":[["65263088.35979"]]},{"id":"683e0f77.3820d","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"err","vt":"str"},{"t":"eq","v":"err","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1040,"wires":[["61ff82c3.f0f67c"],["d8958175.94f69"]]},{"id":"4bf4e4f5.8ff2dc","type":"function","z":"aa52ac5a.a6265","name":"","func":"if(msg.payload[0]){\n    msg.topic=\"delete from reserva where cod=\"+msg.payload[0].cod+\";\";\n    msg.mesa=msg.payload[0].mesa;\n}\nelse{\n    msg.topic=\"err1\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1100,"wires":[["19e196b6.a93d39"]]},{"id":"19e196b6.a93d39","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"err1","vt":"str"},{"t":"eq","v":"err1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1100,"wires":[["1ef4c669.1ac31a"],["d8958175.94f69"]]},{"id":"d8958175.94f69","type":"function","z":"aa52ac5a.a6265","name":"","func":"if(msg.topic==\"err\"){\n    msg.payload=\"M\";\n}\nelse if(msg.topic==\"err1\"){\n    msg.payload=\"R\";\n}\nelse{\n    msg.payload=\"Ok\";\n}\nvar topic=msg.topico.split('/');\nvar num=topic[5];\nmsg.topic=\"/TIUN/app/reservas/eliminar/\"+num+\"/ans\";\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1140,"wires":[["9fe6c70c.5cb178","552ccceb.108d14"]]},{"id":"1ef4c669.1ac31a","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":530,"y":1080,"wires":[["d8958175.94f69","8dcbfb42.5b0ff8"]]},{"id":"9fe6c70c.5cb178","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":1200,"wires":[]},{"id":"552ccceb.108d14","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":530,"y":1200,"wires":[]},{"id":"af57d134.205d2","type":"comment","z":"aa52ac5a.a6265","name":"Eliminar gea","info":"","x":1130,"y":620,"wires":[]},{"id":"4a84c280.602f0c","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/geap/eliminar/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":1120,"y":700,"wires":[["3f9c97b5.604f68","e774506a.b6c7f"]]},{"id":"3f9c97b5.604f68","type":"json","z":"aa52ac5a.a6265","name":"","property":"payload","action":"obj","pretty":false,"x":1350,"y":700,"wires":[["bd45db87.5da078"]]},{"id":"41540069.578a4","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":1090,"y":760,"wires":[["d5e54eab.6b2be"]]},{"id":"bd45db87.5da078","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.topico=msg.topic;\nif(msg.payload.cod>=0){\n    msg.topic=\"select cod,reserva from gea_personal where cod=\"+msg.payload.cod+\" and responsable='\"+msg.payload.nombre+\"';\";\n}\nelse{\n    msg.topic=\"err\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":700,"wires":[["bb17c36d.1ce1e"]]},{"id":"a7e570b8.41c58","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/geap/eliminar/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1470,"y":660,"wires":[]},{"id":"362e7c59.e785a4","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":660,"wires":[["3b524555.f6b05a"]]},{"id":"3b524555.f6b05a","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='{\"cod\":161,\"nombre\":\"vnustezc\"}';\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":660,"wires":[["a7e570b8.41c58"]]},{"id":"bb17c36d.1ce1e","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"err","vt":"str"},{"t":"eq","v":"err","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1630,"y":700,"wires":[["41540069.578a4"],["a0143dcb.3393c"]]},{"id":"d5e54eab.6b2be","type":"function","z":"aa52ac5a.a6265","name":"","func":"if(msg.payload[0]){\n    msg.topic=\"delete from gea_personal where cod=\"+msg.payload[0].cod+\";\";\n    if(msg.payload[0].reserva!=\"null\"){\n        msg.topic+=\"delete from reserva where cod=\"+msg.payload[0].reserva+\";\";\n    }\n}\nelse{\n    msg.topic=\"err1\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":760,"wires":[["909885fd.43e658"]]},{"id":"909885fd.43e658","type":"switch","z":"aa52ac5a.a6265","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"err1","vt":"str"},{"t":"eq","v":"err1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":760,"wires":[["722f1a85.d54694"],["a0143dcb.3393c"]]},{"id":"a0143dcb.3393c","type":"function","z":"aa52ac5a.a6265","name":"","func":"if(msg.topic==\"err\"){\n    msg.payload=\"M\";\n}\nelse if(msg.topic==\"err1\"){\n    msg.payload=\"R\";\n}\nelse{\n    msg.payload=\"Ok\";\n}\nvar topic=msg.topico.split('/');\nvar num=topic[5];\nmsg.topic=\"/TIUN/app/geap/eliminar/\"+num+\"/ans\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":800,"wires":[["e774506a.b6c7f","a225306f.5a3af"]]},{"id":"722f1a85.d54694","type":"mysql","z":"aa52ac5a.a6265","mydb":"494b369d.e80008","name":"UN","x":1450,"y":740,"wires":[["a0143dcb.3393c"]]},{"id":"e774506a.b6c7f","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1620,"y":860,"wires":[]},{"id":"a225306f.5a3af","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":1310,"y":800,"wires":[]},{"id":"5a81d4bf.aca30c","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].length","targetType":"msg","x":630,"y":1820,"wires":[]},{"id":"aef8b1af.8ff77","type":"mqtt out","z":"aa52ac5a.a6265","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":570,"y":60,"wires":[]},{"id":"506a6350.30d05c","type":"mqtt in","z":"aa52ac5a.a6265","name":"","topic":"/TIUN/app/espejo/+/ask","qos":"2","datatype":"auto","broker":"33cb564d.81c7fa","x":240,"y":60,"wires":[["85d20023.c9134","be4490af.4b73e"]]},{"id":"85d20023.c9134","type":"function","z":"aa52ac5a.a6265","name":"","func":"var topic=msg.topic.split('/');\nmsg.topic=\"/TIUN/app/espejo/\"+topic[4]+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["aef8b1af.8ff77","be4490af.4b73e"]]},{"id":"be4490af.4b73e","type":"debug","z":"aa52ac5a.a6265","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":120,"wires":[]},{"id":"bfc2242e.afd738","type":"mqtt in","z":"cc9b6b0b.ff69e8","name":"","topic":"/TIUN/app/registro/+/ask","qos":"2","datatype":"auto","broker":"20d0228.8f11dde","x":190,"y":100,"wires":[["a91e94e3.ddc298"]]},{"id":"9ca8aa41.ce23d8","type":"comment","z":"cc9b6b0b.ff69e8","name":"Registro","info":"","x":160,"y":40,"wires":[]},{"id":"af829f1a.207f2","type":"inject","z":"cc9b6b0b.ff69e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":20,"wires":[["2960a035.6bb9"]]},{"id":"2960a035.6bb9","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"msg.payload='{\"user\":\"melo\"}';\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":20,"wires":[["2e4d819e.82917e"]]},{"id":"2e4d819e.82917e","type":"mqtt out","z":"cc9b6b0b.ff69e8","name":"","topic":"/TIUN/app/registro/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":630,"y":20,"wires":[]},{"id":"a91e94e3.ddc298","type":"json","z":"cc9b6b0b.ff69e8","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":100,"wires":[["802ca40f.7fb938","f965a7a0.b5a238"]]},{"id":"802ca40f.7fb938","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"msg.topico=msg.topic;\nvar datos={\"usr\":\"\",\"n\":\"\",\"a\":\"\",\"ava\":\"\",\"papa\":0,\"ca\":0,\"f\":\"\",\"m\":\"\"};\ndatos.usr=msg.payload.user;\ndatos.n=msg.payload.nombre;\ndatos.a=msg.payload.apellido;\ndatos.ava=msg.payload.avance;\ndatos.papa=msg.payload.papa;\ndatos.ca=msg.payload.carrera;\ndatos.f=msg.payload.facultad;\ndatos.m=msg.payload.materias;\nmsg.datos=datos;\nif(!msg.payload.user.includes(\"'\") && !msg.payload.user.includes(\"%\")){\n    msg.topic=\"select usuario from usuario where usuario = '\"+msg.payload.user+\"';\";\n}\nelse{\n    msg.topic=\"H\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["883ff7e3.6551a8"]]},{"id":"f965a7a0.b5a238","type":"debug","z":"cc9b6b0b.ff69e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":220,"wires":[]},{"id":"883ff7e3.6551a8","type":"switch","z":"cc9b6b0b.ff69e8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"H","vt":"str"},{"t":"eq","v":"H","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":100,"wires":[["57b3ee4e.7b591"],["29647e0f.dad9b2"]]},{"id":"57b3ee4e.7b591","type":"mysql","z":"cc9b6b0b.ff69e8","mydb":"494b369d.e80008","name":"","x":730,"y":100,"wires":[["f965a7a0.b5a238","b3661ada.217328"]]},{"id":"b3661ada.217328","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"if(msg.payload.length===0){\n    var datos=msg.datos;\n    msg.topic=\"insert into usuario values('\"+datos.usr+\"','\"+\n    datos.n+\"','\"+datos.a+\"','\"+datos.ava+\"','\"+\n    datos.papa+\"','\"+datos.ca+\"','\"+datos.f+\"','\"+datos.m+\"');\";\n}\nelse{\n    msg.topic=\"U\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":180,"wires":[["712adb2c.8d9114"]]},{"id":"712adb2c.8d9114","type":"switch","z":"cc9b6b0b.ff69e8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"U","vt":"str"},{"t":"eq","v":"U","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":180,"wires":[["bc9238fe.009e28"],["29647e0f.dad9b2"]]},{"id":"bc9238fe.009e28","type":"mysql","z":"cc9b6b0b.ff69e8","mydb":"494b369d.e80008","name":"","x":470,"y":160,"wires":[["92744ec0.0722e"]]},{"id":"92744ec0.0722e","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"if (msg.payload.affectedRows==1){\n    msg.topic=\"Ok\";\n}\nelse{\n    msg.topic=\"E\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["29647e0f.dad9b2"]]},{"id":"29647e0f.dad9b2","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"msg.payload=msg.topic;\n\nvar topic=msg.topico.split('/');\nvar num=topic[4];\nmsg.topic=\"/TIUN/app/registro/\"+num+\"/ans\";\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":180,"wires":[["f965a7a0.b5a238","dcc47acf.cb6b78"]]},{"id":"dcc47acf.cb6b78","type":"mqtt out","z":"cc9b6b0b.ff69e8","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":790,"y":220,"wires":[]},{"id":"cd23f071.39f8b","type":"mqtt in","z":"cc9b6b0b.ff69e8","name":"","topic":"/TIUN/app/login/+/ask","qos":"2","datatype":"auto","broker":"20d0228.8f11dde","x":180,"y":340,"wires":[["38c53a53.0cab16"]]},{"id":"38c53a53.0cab16","type":"json","z":"cc9b6b0b.ff69e8","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":340,"wires":[["c7dd9664.ae6fd8"]]},{"id":"c7dd9664.ae6fd8","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"msg.topico=msg.topic;\nvar datos={\"usr\":\"\"};\ndatos.usr=msg.payload.user;\nmsg.datos=datos;\nif(!msg.payload.user.includes(\"'\") && !msg.payload.user.includes(\"%\")){\n    msg.topic=\"select * from usuario where usuario = '\"+msg.payload.user+\"';\";\n}\nelse{\n    msg.payload=\"H\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["62259d3b.1877c4"]]},{"id":"62259d3b.1877c4","type":"switch","z":"cc9b6b0b.ff69e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"H","vt":"str"},{"t":"eq","v":"H","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":340,"wires":[["fbe32cbc.3b06d"],["5d06f58a.230aac"]]},{"id":"fbe32cbc.3b06d","type":"mysql","z":"cc9b6b0b.ff69e8","mydb":"494b369d.e80008","name":"","x":750,"y":340,"wires":[["5d06f58a.230aac","74b31e75.06224"]]},{"id":"5d06f58a.230aac","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"if(msg.payload==\"H\"){}\nelse{\n    if(msg.payload.length>0){\n        var datos;\n        datos=msg.payload[0].usuario+\"#\"+\n        msg.payload[0].nombre+\"#\"+\n        msg.payload[0].apellido+\"#\"+\n        msg.payload[0].avance+\"#\"+\n        msg.payload[0].papa+\"#\"+\n        msg.payload[0].carrera+\"#\"+\n        msg.payload[0].facultad+\"#\"+\n        msg.payload[0].materias;\n        msg.payload=datos;\n    }\n    else{\n        msg.payload=\"U\";\n    }\n}\nmsg.topic=\"/TIUN/app/login/\"+msg.topico.split('/')[4]+\"/ans\";\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":400,"wires":[["aeffd9c6.caad78","74b31e75.06224"]]},{"id":"3a43bd3a.122b12","type":"comment","z":"cc9b6b0b.ff69e8","name":"Login","info":"","x":130,"y":300,"wires":[]},{"id":"7b18f439.40054c","type":"inject","z":"cc9b6b0b.ff69e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":280,"wires":[["adb2a3da.25e23"]]},{"id":"adb2a3da.25e23","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"msg.payload='{\"user\":\"sssss\"}';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["e0718a6d.d6fc58"]]},{"id":"e0718a6d.d6fc58","type":"mqtt out","z":"cc9b6b0b.ff69e8","name":"","topic":"/TIUN/app/login/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":600,"y":280,"wires":[]},{"id":"aeffd9c6.caad78","type":"mqtt out","z":"cc9b6b0b.ff69e8","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":310,"y":400,"wires":[]},{"id":"74b31e75.06224","type":"debug","z":"cc9b6b0b.ff69e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":400,"wires":[]},{"id":"5ab29702.a1c878","type":"mqtt in","z":"cc9b6b0b.ff69e8","name":"","topic":"/TIUN/app/usuario/actualizar/+/ask","qos":"2","datatype":"auto","broker":"20d0228.8f11dde","x":180,"y":560,"wires":[["12ef877d.a7c019"]]},{"id":"8e900341.94aa4","type":"comment","z":"cc9b6b0b.ff69e8","name":"actualizar usuario","info":"","x":180,"y":500,"wires":[]},{"id":"cc9d8231.b25b","type":"inject","z":"cc9b6b0b.ff69e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":480,"wires":[["46416009.533f3"]]},{"id":"46416009.533f3","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"msg.payload='{\"user\":\"dmagazo\",\"nombre\":\"Diego\",\"apellido\":\"Macias\",\"papa\":4.3,\"avance\":59,\"carrera\":\"ingeniería electrónica\",\"facultad\":\"ingeniería\",\"materias\":\"Campos electromagnéticos$1132;Circuitos Eléctricos I$1134;Circuitos Eléctricos II$1135;Conversión Electromagnética$1141;Electrónica Análoga I$1144\"}';\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["eaf3e6c0.738f18"]]},{"id":"eaf3e6c0.738f18","type":"mqtt out","z":"cc9b6b0b.ff69e8","name":"","topic":"/TIUN/app/usuario/actualizar/1/ask","qos":"","retain":"","broker":"33cb564d.81c7fa","x":660,"y":480,"wires":[]},{"id":"12ef877d.a7c019","type":"json","z":"cc9b6b0b.ff69e8","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":560,"wires":[["b634569c.9a61f8","77463da7.c435c4"]]},{"id":"b634569c.9a61f8","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"msg.topico=msg.topic;\nvar datos={\"usr\":\"\",\"n\":\"\",\"a\":\"\",\"ava\":\"\",\"papa\":0,\"ca\":0,\"f\":\"\",\"m\":\"\"};\ndatos.usr=msg.payload.user;\ndatos.n=msg.payload.nombre;\ndatos.a=msg.payload.apellido;\ndatos.ava=msg.payload.avance;\ndatos.papa=msg.payload.papa;\ndatos.ca=msg.payload.carrera;\ndatos.f=msg.payload.facultad;\ndatos.m=msg.payload.materias;\nmsg.datos=datos;\nif(!msg.payload.user.includes(\"'\") && !msg.payload.user.includes(\"%\")){\n    msg.topic=\"select usuario from usuario where usuario = '\"+msg.payload.user+\"';\";\n}\nelse{\n    msg.topic=\"H\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":560,"wires":[["b5e51ee9.7845c"]]},{"id":"77463da7.c435c4","type":"debug","z":"cc9b6b0b.ff69e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":680,"wires":[]},{"id":"b5e51ee9.7845c","type":"switch","z":"cc9b6b0b.ff69e8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"H","vt":"str"},{"t":"eq","v":"H","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":560,"wires":[["d470062d.d21828"],["b2d216c2.4bcfe8"]]},{"id":"d470062d.d21828","type":"mysql","z":"cc9b6b0b.ff69e8","mydb":"494b369d.e80008","name":"","x":750,"y":560,"wires":[["77463da7.c435c4","ca25f757.9798d8"]]},{"id":"ca25f757.9798d8","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"if(msg.payload.length>0){\n    var datos=msg.datos;\n    msg.topic=\"update usuario set nombre='\"+\n    datos.n+\"',apellido='\"+datos.a+\"',avance='\"+datos.ava+\"',papa='\"+\n    datos.papa+\"',carrera='\"+datos.ca+\"',facultad='\"+datos.f+\"',materias='\"+datos.m+\"' where usuario='\"+datos.usr+\"';\";\n}\nelse{\n    msg.topic=\"U\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":640,"wires":[["b5d14357.53a92"]]},{"id":"b5d14357.53a92","type":"switch","z":"cc9b6b0b.ff69e8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"U","vt":"str"},{"t":"eq","v":"U","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":640,"wires":[["66ebf432.d813cc"],["b2d216c2.4bcfe8"]]},{"id":"66ebf432.d813cc","type":"mysql","z":"cc9b6b0b.ff69e8","mydb":"494b369d.e80008","name":"","x":470,"y":620,"wires":[["b4c6dad0.434178"]]},{"id":"b4c6dad0.434178","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"if (msg.payload.affectedRows==1){\n    msg.topic=\"Ok\";\n}\nelse{\n    msg.topic=\"E\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":620,"wires":[["b2d216c2.4bcfe8"]]},{"id":"b2d216c2.4bcfe8","type":"function","z":"cc9b6b0b.ff69e8","name":"","func":"msg.payload=msg.topic;\n\nvar topic=msg.topico.split('/');\nvar num=topic[5];\nmsg.topic=\"/TIUN/app/usuario/actualizar/\"+num+\"/ans\";\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":640,"wires":[["77463da7.c435c4","700e92ec.c4acec"]]},{"id":"700e92ec.c4acec","type":"mqtt out","z":"cc9b6b0b.ff69e8","name":"","topic":"","qos":"","retain":"","broker":"33cb564d.81c7fa","x":790,"y":680,"wires":[]},{"id":"f2d78525.6f8bf8","type":"link out","z":"aa52ac5a.a6265","name":"Link1","links":["2245a001.270c9"],"x":375,"y":880,"wires":[]},{"id":"2245a001.270c9","type":"link in","z":"4d220972.5645d8","name":"Link1","links":["2e4094cf.c4171c","f2d78525.6f8bf8","8dcbfb42.5b0ff8"],"x":580,"y":340,"wires":[["9d1892a7.c5732"]]},{"id":"8dcbfb42.5b0ff8","type":"link out","z":"aa52ac5a.a6265","name":"Link1","links":["2245a001.270c9"],"x":415,"y":1160,"wires":[]},{"id":"f83b4e5d.3e394","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='{\"nombre\": \"dmaciass\", \"mesa\":10,\"inicio\":14,\"fin\":16}'\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":640,"wires":[["f84fc5d0.d75d18"]]},{"id":"6bad51ba.7da08","type":"function","z":"aa52ac5a.a6265","name":"","func":"msg.payload='{\"nombre\": \"dmaciass\", \"mesa\":10,\"inicio\":16,\"fin\":18}'\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":600,"wires":[["f84fc5d0.d75d18"]]},{"id":"63916de0.aae634","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["6bad51ba.7da08"]]},{"id":"87f6df20.0dd7a","type":"inject","z":"aa52ac5a.a6265","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":638,"wires":[["f83b4e5d.3e394"]]}]